<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Duleen.Properties.Settings.RecordSystemConnectionString"
            connectionString="Data Source=LAPTOP-VM3M1KF4\SQLEXPRESS;Initial Catalog=RecordSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>